.container{
  width: 70%;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

th{
  padding: 10px;
}

img{
  width: 40px;
  height: auto;
}

span {
  font-weight: bold;
}

p {
  text-transform: capitalize;
}

#map {
  display: inline-block;
  margin: auto;
  height: 300px;
  width: 600px;
  max-width: 100%;
}
